<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @player.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @player.last %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
